@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;

}

header {
    width: 100vw;
    text-align: center;
    background-color: aqua;
}

.container {
    border:1px solid black;
    height: 100vh;
    width: 60%;
}

.completed {
  text-decoration: line-through;
}

.visibilty {
  display: none;
}
