@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  text-align: center;
  background-color: aqua;
}

.container {
  width: 600px;
  margin-inline: auto;
}

button {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.visibilty {
  display: none;
}

input[type="text"] {
  font-family: inherit;
  padding: 0.7rem;
  width: 400px;
}

li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: .5rem;
  margin: .4rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  background-color: hsl(160, 68%, 37%);
}

li > span {
  flex: 1;
}
