@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #e1efe6;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
  width: 70%;
}

header {
  top: 0;
  position: sticky;
  width: 100%;
  text-align: center;
}

header > h1 {
  font-size: 1.9rem;
  padding: 0.8rem;
}

footer {
  bottom: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

footer > p {
  text-align: center;
  font-size: 0.8rem;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.7rem;
  margin: 0.6rem;
  background-color: #c8d0cc;
}

button:disabled {
  cursor: not-allowed;
}

.completed {
  text-decoration: line-through;
}

.visibilty {
  display: none;
}

input[type="text"] {
  font-family: inherit;
  padding: 0.7rem;
  min-width: 400px;
}

.task-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0.3rem;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

:is(span) {
  flex: 1;
}
