@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --text-color: #1c1d21;
  --li-bg: #f1e3e4;
  --body-bg: #f1e3e4;
  --btn-bg: #a288a6;
  --container-bg: #bb9bb0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(
    270deg,
    var(--li-bg) 0%,
    var(--container-bg) 100%
  );
}

.container {
  margin: 2rem auto 4rem;
  width: min(90%, 600px);
  padding: 0.5rem;
}

.glow-text {
  color: var(--body-bg);
  text-shadow: 0 0 5px var(--text-color);
}

header {
  top: 0;
  position: sticky;
  width: 100%;
  text-align: center;
}

header > h1 {
  font-size: 2.4rem;
  padding: 0.8rem;
  text-transform: uppercase;
}

footer {
  bottom: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

footer > p {
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-color);
}

button {
  cursor: pointer;
  border: none;
  padding: 0.7rem;
  margin: 0.6rem;
  background-color: var(--btn-bg);
  border: 2px solid var(--text-color);
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
}

button:disabled {
  cursor: not-allowed;
}

.completed {
  text-decoration: line-through;
}

.visibilty {
  display: none;
}

input[type="text"] {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.7rem;
  width: 88%;
}

.tasks {
  list-style-type: none;
  padding: 0;
  margin: 1.5rem 0 0;
}

.tasks li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.7rem;
  margin: 0.4rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--li-bg);
  border-radius: 15px;
  border: 1px solid var(--text-color);
}

.tasks li label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.tasks li .task-text {
  flex: 1;
  color: var(--text-color);
}

.tasks li input[type="checkbox"] {
  margin-right: 0.3rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--li-bg);
  background-color: var(--btn-bg);
}
